.logoimg{
    width: 25%;
    height: auto;
}

.mytitle{
    text-align: center;
    padding-top: 50px;
}

.mycontainer{
    display: flex;
    flex-wrap: wrap;
}

.myform{
border: black solid 1px;
margin: 0 auto;
}

.sbmtbtn{
    margin-bottom: 1rem;
}

footer{
    border: black solid 1px;
    margin: 0 auto; 
    text-align: center;
    color: white;
}

.mycard img {
    height: 15rem;
    width: 18rem;

    border-radius: 10%;
}

*{
    margin-top: 5px;
}

  

#goHomeButton{
    font-size: 1.5rem;
    margin-left: 12rem;
}
.mytitle {
    font-family: 'Alegreya', serif;
    font-size: 4rem;
    margin: 1rem 0;
}

#navbarText {
    font-size: 2rem;
    margin-right: 5%;
    font-family: 'Kaisei HarunoUmi', serif;
}

.myrow1, 
.myrow2,
.myrow3,
.myrow4,
.myrow5 {
    margin-top: 3%;
    margin-bottom: 3%;
}

.myrow3{
    margin-left: auto;
    margin-right: auto;
}